.loader {
    font-family: system-ui;
    color: #aaa;
    display: grid;
    place-content: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    perspective: 5000px;
    width: 100%;
}

.container {
    display: grid;
    place-content: center;
    width: 150px;
    aspect-ratio: 1;
    border: 0px;
    transform-style: preserve-3d;
    transform: rotateX(65deg);
}

.planet {
    width: 100px;
    aspect-ratio: 1;
    background-color: #12080e;
    border-radius: 50%;
    border: 0;
    box-shadow: inset #f5f5f5 9px 2px 7px 0px, #ff4c4c47 2px 3px 20px;
    transform-style: preserve-3d;
    transform: rotateX(-65deg);
    display: grid;
    place-content: center;
}

.spinner {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 0;
    box-shadow: inset #f1f1f1 2px 2px 0px 2px;
    transform-style: preserve-3d;

    position: absolute;
    inset: 0;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    from {
        transform: rotateY(-25deg) rotateZ(0);
    }

    to {
        transform: rotateY(-25deg) rotateZ(360deg);
    }
}